*, *::after, *::before{
    box-sizing: border-box;
}

body{
    font-family: 'Dancing Script', cursive;
    background-image:linear-gradient(to right, cyan, lightgreen) ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock{
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
}

.clock .num{
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.5rem;
}

.clock .num1{--rotation: 30deg;}
.clock .num2{--rotation: 60deg;}
.clock .num3{--rotation: 90deg;}
.clock .num4{--rotation: 120deg;}
.clock .num5{--rotation: 150deg;}
.clock .num6{--rotation: 180deg;}
.clock .num7{--rotation: 210deg;}
.clock .num8{--rotation: 240deg;}
.clock .num9{--rotation: 270deg;}
.clock .num10{--rotation: 300deg;}
.clock .num11{--rotation: 330deg;}

.clock .dot{
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
}

.clock .dot1{--rotation:6deg;}
.clock .dot2{--rotation:12deg;}
.clock .dot3{--rotation:18deg;}
.clock .dot4{--rotation:24deg;}

.clock .dot6{--rotation:36deg;}
.clock .dot7{--rotation:42deg;}
.clock .dot8{--rotation:48deg;}
.clock .dot9{--rotation:54deg;}

.clock .dot11{--rotation:66deg;}
.clock .dot12{--rotation:72deg;}
.clock .dot13{--rotation:78deg;}
.clock .dot14{--rotation:84deg;}

.clock .dot16{--rotation:96deg;}
.clock .dot17{--rotation:102deg;}
.clock .dot18{--rotation:108deg;}
.clock .dot19{--rotation:114deg;}

.clock .dot21{--rotation:126deg;}
.clock .dot22{--rotation:132deg;}
.clock .dot23{--rotation:138deg;}
.clock .dot24{--rotation:144deg;}

.clock .dot26{--rotation:156deg;}
.clock .dot27{--rotation:162deg;}
.clock .dot28{--rotation:168deg;}
.clock .dot29{--rotation:174deg;}

.clock .dot31{--rotation:186deg;}
.clock .dot32{--rotation:192deg;}
.clock .dot33{--rotation:198deg;}
.clock .dot34{--rotation:204deg;}

.clock .dot36{--rotation:216deg;}
.clock .dot37{--rotation:222deg;}
.clock .dot38{--rotation:228deg;}
.clock .dot39{--rotation:234deg;}

.clock .dot41{--rotation:246deg;}
.clock .dot42{--rotation:252deg;}
.clock .dot43{--rotation:258deg;}
.clock .dot44{--rotation:264deg;}

.clock .dot46{--rotation:276deg;}
.clock .dot47{--rotation:282deg;}
.clock .dot48{--rotation:288deg;}
.clock .dot49{--rotation:294deg;}

.clock .dot51{--rotation:306deg;}
.clock .dot52{--rotation:312deg;}
.clock .dot53{--rotation:318deg;}
.clock .dot54{--rotation:324deg;}

.clock .dot56{--rotation:336deg;}
.clock .dot57{--rotation:342deg;}
.clock .dot58{--rotation:348deg;}
.clock .dot59{--rotation:354deg;}


.clock .hand{
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: black;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    
}

.clock::after{
    content: "";
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock .hour_hand{
    height: 35%;
    width: 10px;
}

.clock .minute_hand{
    height: 40%;
    width: 5px;
}

.clock .second_hand{
    height: 45%;
    width: 3px;
    background-color: red;
}